@using MTP1
@model MTP1.Models.DefectDic

@{
    this.ViewBag.Title = string.Format("Элемент справочника {0} | {1}", this.Model.Title, Constants.TITLE);

}
<fieldset>
    <legend>Элемент справочника "@this.Model.Title"</legend>

    <div class="display-label">Метод тестирования</div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.Title)
    </div>
    <div class="display-label">Описание</div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @this.Html.ActionLink("Редактировать", "Edit", new { id = this.Model.ID }) |
    @this.Html.ActionLink("Методы тестирования", "Index")
</p>