@using MTP1
@model MTP1.Models.WeightCoefficientDic

@{
    ViewBag.Title = string.Format("Элемент справочника | {0}", Constants.TITLE);
}
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = this.Model.ID }) |
    @Html.ActionLink("Весовые коэффициенты", "Index")
</p>

<fieldset>
    <legend>Элемент справочника Весовые коэффициенты</legend>

    <div class="display-label">Весовой коэффициент</div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.Title)
    </div>
    <div class="display-label">Значение</div>
    <div class="display-field">
        @this.Html.DisplayFor(model=>model.Value)
    </div>
    <div class="display-label">Описание</div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
