@using MTP1
@model MTP1.Models.UseCase

@{
    ViewBag.Title = string.Format("Создание | {0}", Constants.TITLE);

}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"> </script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"> </script>
<p>
     @Html.ActionLink("Отменить", "Index") | @Html.ActionLink("Сценарии тестирования", "Index")
</p>

@using (this.Html.BeginForm())
{
    <fieldset>
        <legend>Создание</legend>
        @Html.EditorForModel()
        <p>
            <input type="submit" value="Сохранить" />
        </p>
    </fieldset>
}

<div>
    
</div>