@using MTP1
@model MTP1.Models.UseCase

@{
    this.ViewBag.Title = string.Format("Use case {0} | {1}", this.Model.Title, Constants.TITLE);

}
<p>
    @this.Html.ActionLink("Ввод первичных метрик", "Create", "UseCasePrimaryMetric")
</p>
<fieldset>
    <legend>Use Case "@this.Model.Title", проект "@this.Model.Project1.Title"</legend>

    <div class="display-label">Use Case</div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.Title)
    </div>
    <div class="display-label">Описание</div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.Description)
    </div>
    <div class="display-label">Проект</div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.Project1.Title)
    </div>
    <div class="display-label">Программа тестирования</div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.TestProgram1.Title)
    </div>
    <div class="display-label">Приоритет Use-case</div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.PriorityDic.Title)
    </div>
    <div class="display-label">UCP</div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.Ucp)
    </div>
    <div class="display-label">Трудозатраты, чел-часы</div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.ManHour)
    </div>

</fieldset>
<p>
    @this.Html.ActionLink("Редактировать", "Edit", new { id = this.Model.ID }) |
    @this.Html.ActionLink("UseCase", "Index")
</p>
<p>
    @this.Html.ActionLink("Технические факторы", "Index", "TechnicalFactor") |@this.Html.ActionLink("Новый", "Create", "TechnicalFactor") 
</p>
<p>
    @this.Html.ActionLink("Факторы окружения", "Index", "EnvironmentFactor") |@this.Html.ActionLink("Новый", "Create", "EnvironmentFactor")
</p>
<p>
    @this.Html.ActionLink("Акторы", "Index", "Actor") |@this.Html.ActionLink("Новый", "Create", "Actor") 
</p>