@using MTP1
@model MTP1.Models.UseCase
@{
    ViewBag.Title = string.Format("Сценарий тестирования | {0}", Constants.TITLE);
}
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = this.Model.ID }) |
    @Html.ActionLink("Сценарии тестирования", "Index")|
    @Html.ActionLink("Ввод первичных метрик", "Create", "UseCasePrimaryMetric")
</p>
<fieldset>
    <legend>Сценарий тестирования</legend>
    <div style="float: left;margin-right: 30px;">
        <div class="display-label">
            Наименование сценария</div>
        <div class="display-field">
            @this.Html.DisplayFor(model => model.Title)
        </div>
        <div class="display-label">
            Описание сценария</div>
        <div class="display-field">
            @this.Html.DisplayFor(model => model.Description)
        </div>
        <div class="display-label">
            Проект</div>
        <div class="display-field">
            @this.Html.DisplayFor(model => model.Project1.Title)
        </div>
        <div class="display-label">
            Программа тестирования</div>
        <div class="display-field">
            @this.Html.DisplayFor(model => model.TestProgram1.Title)
        </div>
    </div>
    <div style="float: left;margin-right: 30px;">
        <div class="display-label">
            Приоритет сценария</div>
    
    <div class="display-label">TF</div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.PriorityDic.Title)
    </div>
    <div class="display-label">
        UCP</div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.Ucp)
    </div>
    <div class="display-label">
        Трудозатраты, человеко-часы</div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.ManHour)
    </div>
    <div class="display-label">
        Автор</div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.Users.Title)
    </div>
    </div>
</fieldset>
<table cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <div id="grid_containerTF" style="width: 470px; padding-right: 15px;">
                <table id="gridTF" cellpadding="0" cellspacing="0">
                </table>
                <div id="pagerTF" style="text-align: center;">
                </div>
                <div id="searchTF" style="margin-left: 30%; display: none">
                </div>
            </div>
        </td>
        <td>
            <div id="grid_containerEF" style="width: 470px; margin-left: 15px;">
                <table id="gridEF" cellpadding="0" cellspacing="0">
                </table>
                <div id="pagerEF" style="text-align: center;">
                </div>
                <div id="searchEF" style="margin-left: 30%; display: none">
                </div>
            </div>
        </td>
    </tr>
</table>
<div id="grid_containerAc" style="width: 100%; margin-top: 15px">
    <table id="gridAc" cellpadding="0" cellspacing="0">
    </table>
    <div id="pagerAc" style="text-align: center;">
    </div>
    <div id="searchAc" style="margin-left: 30%; display: none">
    </div>
</div>
<script type="text/javascript">
    var useCaseId = @Model.ID;

    $(function() {
       GridForTechFacts();
       GridForEnvFacts();
       GridForActors();
    });
    
   function GridForTechFacts() {
         
        var wcListTF = @Html.Raw(@Model.WFactorAndDifficultyList);
        var indexUrlTF = '@Url.Action("GetTechFactsForUseCase", "TechnicalFactor")' + '?useCaseId=' + useCaseId;
        var editUrlTF = '@Url.Action("EditTechFactor", "UseCase")' + '?useCaseId=' + useCaseId;
        
        DrawEditableMTPGrid('gridTF', 'pagerTF', indexUrlTF, editUrlTF,
        ['Технический фактор', 'Весовой коэффициент', 'Сложность'],
                [
                    {
                        name: 'Title',
                        index: 'Title',
                        sortable: false,
                        editable: false,
                        align: 'left',
                        width: '50'
                    },
                    {
                        name: 'WeightCoefficient',
                        index: 'WeightCoefficient',
                        sortable: false,
                        align: 'center',
                        editable: true,
                        edittype: "select",
                        editoptions: { multiple: false, value: wcListTF }, 
                        editrules: { required: false }, 
                        formatoptions: { disabled: false},
                        width: '20'
                    },
                    {
                        name: 'Difficulty',
                        index: 'Difficulty',
                        sortable: false,
                        align: 'center',
                        editable: true,
                        edittype: "select",
                        editoptions: { multiple: false, value: wcListTF }, 
                        editrules: { required: false }, 
                        formatoptions: { disabled: false},
                        width: '20'
                    }
                ], 'Технические факторы сценария', true);
    }
    function GridForEnvFacts() {
         
        var wcListEF = @Html.Raw(@Model.WFactorAndDifficultyList);
        var indexUrlEF = '@Url.Action("GetEnvFactsForUseCase", "EnvironmentFactor")' + '?useCaseId=' + useCaseId;
        var editUrlEF = '@Url.Action("EditEnvFactor", "UseCase")' + '?useCaseId=' + useCaseId;
        
        DrawEditableMTPGrid('gridEF', 'pagerEF', indexUrlEF, editUrlEF,
        ['Фактор окружения', 'Весовой коэффициент', 'Сложность'],
                [
                    {
                        name: 'Title',
                        index: 'Title',
                        sortable: false,
                        editable: false,
                        align: 'left',
                        width: '50'
                    },
                    {
                        name: 'WeightCoefficient',
                        index: 'WeightCoefficient',
                        sortable: false,
                        align: 'center',
                        editable: true,
                        edittype: "select",
                        editoptions: { multiple: false, value: wcListEF }, 
                        editrules: { required: false }, 
                        formatoptions: { disabled: false},
                        width: '30'
                    },
                    {
                        name: 'Difficulty',
                        index: 'Difficulty',
                        sortable: false,
                        align: 'center',
                        editable: true,
                        edittype: "select",
                        editoptions: { multiple: false, value: wcListEF }, 
                        editrules: { required: false }, 
                        formatoptions: { disabled: false},
                        width: '30'
                    }
                ], 'Факторы окружения сценария', true);
    }
    
    function GridForActors() {
         
        var wcListAct = @Html.Raw(@Model.WFactorAndDifficultyList);
        var indexUrlAct = '@Url.Action("GetActorsForUseCase", "Actor")' + '?useCaseId=' + useCaseId;
        var editUrlAct = '@Url.Action("EditActor", "UseCase")' + '?useCaseId=' + useCaseId;
        
        DrawEditableMTPGrid('gridAct', 'pagerAct', indexUrlAct, editUrlAct,
        ['Участник сценария', 'Весовой коэффициент', 'Количество'],
                [
                    {
                        name: 'Title',
                        index: 'Title',
                        sortable: false,
                        editable: false,
                        align: 'left',
                        width: '50'
                    },
                    {
                        name: 'WeightCoefficient',
                        index: 'WeightCoefficient',
                        sortable: false,
                        align: 'center',
                        editable: true,
                        edittype: "select",
                        editoptions: { multiple: false, value: wcListAct }, 
                        editrules: { required: false }, 
                        formatoptions: { disabled: false},
                        width: '30'
                    },
                    {
                        name: 'Quantity',
                        index: 'Quantity',
                        sortable: false,
                        align: 'center',
                        editable: true,
                        edittype: "text",
                        editoptions: { multiple: false, value: wcListAct }, 
                        editrules: { required: false }, 
                        formatoptions: { disabled: false},
                        width: '30'
                    }
                ], 'Участники сценария', true);
    }
    
</script>
