@using MTP1
@using MTP1.Models
@model IEnumerable<UseCase>
@{
    ViewBag.Title = string.Format("Сценарии тестирования | {0}", Constants.TITLE);
 }

<link href="@this.Url.Content("~/Content/List.css")" rel="stylesheet" type="text/css" />
<div id="grid_container" style="width: 100%">
    <table id="grid" cellpadding="0" cellspacing="0">
    </table>
    <div id="pager" style="text-align: center;">
    </div>
    <div id="search" style="margin-left: 30%; display: none">
    </div>
</div>

<script type="text/javascript">

    $(function () {

        var indexUrl = '@Url.Action("GetUseCases", "UseCase")';
        var editUrl = '@Url.Action("Edit", "UseCase")';
        var deleteUrl = '@Url.Action("Delete", "UseCase")';
        var addUrl = '@Url.Action("Create", "UseCase")';
        var viewUrl = '@Url.Action("Details", "UseCase")';

        DrawMTPGrid('grid', 'pager', indexUrl, editUrl, deleteUrl, addUrl, viewUrl,
            ['Наименование', 'Описание', 'Приоритет', 'UCP', 'Трудозатраты, чел-часы',
                'Пользователь', 'Проект', 'Программа тестирования'],
            [
                {
                    name: 'Title',
                    sortable: false,
                    align: 'center',
                    width: '250'
                },
                {
                    name: 'Description',
                    sortable: false,
                    align: 'center',
                    width: '100'
                },
                {
                    name: 'Priority',
                    sortable: false,
                    align: 'center',
                    width: '200'
                },
                {
                    name: 'Ucp',
                    sortable: false,
                    align: 'center',
                    width: '200'
                },
                {
                    name: 'ManHour',
                    sortable: false,
                    align: 'center',
                    width: '200'
                },
                {
                    name: 'Creator',
                    sortable: false,
                    align: 'center',
                    width: '200'
                },
                {
                    name: 'Project',
                    sortable: false,
                    align: 'center',
                    width: '200'
                },
                {
                    name: 'TestProgram',
                    sortable: false,
                    align: 'center',
                    width: '200'
                }
            ], 'Сценарии тестирования');
    });

</script>
