@using MTP1
@using MTP1.Models
@model IEnumerable<UseCase>

@{
    this.ViewBag.Title = string.Format("Use Case| {0}", Constants.TITLE);

}

<h2>Use Case</h2>

<p>
   @this.Html.ActionLink("Создать", "Create","UseCase")

</p>
<table>
    <tr>
        <th>
            Use Case
        </th>
        <th>
            Описание Use Case
        </th>
        <th>
            Проект
        </th>
        <th>
            Программа тестирования
        </th>
        <th>
            Приоритет Use Case
        </th>
        <th>
            UCP
        </th>
        <th>
            Трудозатраты, чел-часы
        </th>

    </tr>

    @foreach (UseCase item in this.Model)
    {
        <tr>
            <td>
                @this.Html.ActionLink(item.Title, "Details", new { id = item.ID })
            </td>
            <td>
                @this.Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @this.Html.DisplayFor(modelItem => item.Project1.Title)
            </td>
            <td>
                @this.Html.DisplayFor(modelItem => item.TestProgram1.Title)
            </td>
            <td>
                @this.Html.DisplayFor(modelItem => item.PriorityDic.Title)
            </td>
            <td>
                @this.Html.DisplayFor(modelItem => item.Ucp)
            </td>
            <td>
                @this.Html.DisplayFor(modelItem => item.ManHour)
            </td>
            <td>
                @this.Html.ActionLink("Редактировать", "Edit", new { id = item.ID }) |
                @this.Html.ActionLink("Удалить", "Delete", new { id = item.ID })
            </td>
        
        </tr>
    }
</table>
