@using MTP1
@model MTP1.Models.PrimMetrREDic

@{
    ViewBag.Title = string.Format("Создание | {0}", Constants.TITLE);
}

<p>
    @this.Html.ActionLink("Отменить", "Index") | @this.Html.ActionLink("Первичные метрики", "Index")
</p>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"> </script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"> </script>

@using (this.Html.BeginForm())
{
    <fieldset>
        <legend>Создание</legend>
        @Html.EditorForModel()
        <p>
            <input type="submit" value="Сохранить" />
        </p>
    </fieldset>
}