@using MTP1
@model IEnumerable<MTP1.Models.TestProgram>
<script src="@Url.Content("~/Scripts/jqgrid/jquery.jqGrid.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jqgrid/i18n/grid.locale-ru.js")" type="text/javascript"></script>
@{
    this.ViewBag.Title = string.Format("Программы тестирования| {0}", Constants.TITLE);

}

<div id="myDiv" style="width: 100%">
    <table id="grid" cellpadding="0" cellspacing="0">
    </table>
    <div id="pager" style="text-align: center;">
    </div>
    <div id="search" style="margin-left: 30%; display: none">
    </div>
</div>
<script type="text/javascript">
    var indexUrl = '@Url.Action("GetPrograms", "TestProgram")';
    var editUrl = '@Url.Action("Edit", "TestProgram")';
    var deleteUrl = '@Url.Action("Delete", "TestProgram")';
    var addUrl = '@Url.Action("Create", "TestProgram")';
    var viewUrl = '@Url.Action("Details", "TestProgram")';

    $(function () {

        $("#grid").jqGrid({
            colNames: ['Программа тестирования', 'Описание', 'Проект тестирования', 'Метод тестирования'],
            colModel: [
                {
                    name: 'Title',
                    sortable: false,
                    align: 'center',
                    width: '250'
                },
                {
                    name: 'Description',
                    sortable: false,
                    align: 'center',
                    width: '300'
                },
                {
                    name: 'Project',
                    sortable: false,
                    align: 'left',
                    width: '200'
                },
                {
                    name: 'TestMethod',
                    sortable: false,
                    align: 'left',
                    width: '200'
                }
            ],
            pager: $("#pager"),
            sortname: 'Title',
            sortorder: "",
            rowNum: 10,
            rowList: [10, 20, 50],
            viewrecords: true,
            rownumbers: true,
            shrinkToFit: true,
            width: 1100,
            altRows: true,
            altclass: 'myAltRowClass',
            height: 'auto',
            gridview: true,
            url: indexUrl,
            datatype: 'json',
            mtype: 'GET',
            caption: 'Программы тестирования',
            loadError: function (xhr, status, error) {
                alert(error);
            },
            ondblClickRow: function (rowid) {
                window.location = viewUrl + '/' + rowid;
            }
        });

        var grid = jQuery("#grid").jqGrid('navGrid', '#pager', {
            edit: true,
            add: true,
            del: true,
            search: false,
            refresh: true,
            addfunc: function () { window.location = addUrl; },
            editfunc: function (id) {
                window.location = editUrl + '/' + id;
            },
            delfunc: function (id) {
                $.post(deleteUrl + '/' + id, function () {
                    grid.trigger("reloadGrid");
                }).error(function (readyState, responceText) { alert(responceText); });
            }
        });
    });

</script>
