@model MTP1.Models.Project

@{
    ViewBag.Title = string.Format("Удаление проекта тестирования | {0}", MTP.Constants.TITLE);
}
<fieldset>
    <legend>Удаление проекта тестирования @Model.ProjectTitle</legend>
    @Html.ActionLink("Отменить", "Index")

    <h2 style="color:Red">Вы уверены, что хотите удалить этот проект?</h2>

    @using (Html.BeginForm())
    {
        <input type="submit" value="Удалить" />
    }

    <div class="display-label">Проект</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">Версия</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Version)
    </div>

    <div class="display-label">Описание</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">Проект-менеджер</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Manager)
    </div>

    <div class="display-label">Автор</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Creator)
    </div>
</fieldset>



