@model MTP1.Models.Project

@{
    ViewBag.Title = string.Format("{0} | Проект | {1}", Model.Title, MTP1.Constants.TITLE);
}

<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Проекты", "Index")
</p>

<fieldset>
    <legend>Проект</legend>
    <div class="display-label">Наименование проекта</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">Версия проекта</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Version)
    </div>

    <div class="display-label">Описание проекта</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">Проект-менеджер</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Users.Title)
    </div>

    <div class="display-label">Автор</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Users1.Title)
    </div>

    
</fieldset>

<div id="grid_container" style="width: 100%">
    <table id="grid" cellpadding="0" cellspacing="0">
    </table>
    <div id="pager" style="text-align: center;">
    </div>
    <div id="search" style="margin-left: 30%; display: none">
    </div>
</div>

<script type="text/javascript">
    var projectId = @Model.ID;
    var indexUrl = '@Url.Action("GetProgramsForProject", "TestProgram")' + '?projectId=' + projectId;
    var editUrl = '@Url.Action("Edit", "TestProgram")';
    var deleteUrl = '@Url.Action("Delete", "TestProgram")';
    var addUrl = '@Url.Action("Create", "TestProgram")';
    var viewUrl = '@Url.Action("Details", "TestProgram")';

    $(function () {
        DrawMTPGrid('grid', 'pager', indexUrl, editUrl, deleteUrl, addUrl, viewUrl,
        ['Программа тестирования', 'Описание программы', 'Плановая дата начала',
        'Плановая дата окончания', 'Фактическая дата начала', 'Фактическая дата окончания',
        'Проект'],
        [
                {
                    name: 'Title',
                    sortable: false,
                    align: 'center',
                    width: '250'
                },
                {
                    name: 'Description',
                    sortable: false,
                    align: 'center',
                    width: '300'
                },
                {
                    name: 'BeginDatePlan',
                    sortable: false,
                    align: 'center',
                    width: '200'
                },
               {
                    name: 'EndDatePlan',
                    sortable: false,
                    align: 'center',
                    width: '200'
                },
                {
                    name: 'BeginDateActual',
                    sortable: false,
                    align: 'center',
                    width: '200'
                },
                {
                    name: 'EndDateActual',
                    sortable: false,
                    align: 'center',
                    width: '200'
                },
                {
                        name: 'Project',
                        sortable: false,
                        align: 'center',
                        width: '250'
                    }
            ], 'Программы тестирования проекта');
    });
</script>


