@model IEnumerable<MTP1.Models.Project>
@{
    ViewBag.Title = string.Format("Проекты тестирования | {0}", MTP1.Constants.TITLE);
}
<div id="myDiv" style="width: 100%">
    <table id="grid" cellpadding="0" cellspacing="0">
    </table>
    <div id="pager" style="text-align: center;">
    </div>
    <div id="search" style="margin-left: 30%; display: none">
    </div>
</div>
<script type="text/javascript">
    var indexUrl = '@Url.Action("GetProjects", "Project")';
    var editUrl = '@Url.Action("Edit", "Project")';
    var deleteUrl = '@Url.Action("Delete", "Project")';
    var addUrl = '@Url.Action("Create", "Project")';
    var viewUrl = '@Url.Action("Details", "Project")';

    $(function () {

        $("#grid").jqGrid({
            colNames: ['Наименование', 'Версия', 'Плановая дата начала', 'Плановая дата окончания', 'Фактическая дата начала',
                'Фактическая дата окончания'],
            colModel: [
                {
                    name: 'Title',
                    sortable: false,
                    align: 'center',
                    width: '250'
                },
                {
                    name: 'Version',
                    sortable: false,
                    align: 'center',
                    width: '100'
                },
                {
                    name: 'BeginDatePlaning',
                    sortable: false,
                    align: 'left',
                    width: '200'
                },
                {
                    name: 'EndDatePlaning',
                    sortable: false,
                    align: 'left',
                    width: '200'
                },
                {
                    name: 'BeginDateActual',
                    sortable: false,
                    align: 'left',
                    width: '200'
                },
                {
                    name: 'EndDateActual',
                    sortable: false,
                    align: 'left',
                    width: '200'
                }
            ],
            pager: $("#pager"),
            sortname: 'Title',
            sortorder: "",
            rowNum: 10,
            rowList: [10, 20, 50],
            viewrecords: true,
            rownumbers: true,
            shrinkToFit: true,
            width: 1100,
            altRows: true,
            altclass: 'myAltRowClass',
            height: 'auto',
            gridview: true,
            url: indexUrl,
            datatype: 'json',
            mtype: 'GET',
            caption: 'Проекты тестирования',
            loadError: function (xhr, status, error) {
                alert(error);
            },
            ondblClickRow: function (rowid) {
                window.location = viewUrl + '/' + rowid;
            }
        });

        var grid = jQuery("#grid").jqGrid('navGrid', '#pager', {
            edit: true,
            add: true,
            del: true,
            search: false,
            refresh: true,
            addfunc: function () { window.location = addUrl; },
            editfunc: function (id) {
                window.location = editUrl + '/' + id;
            },
            delfunc: function (id) {
                $.post(deleteUrl + '/' + id, function () {
                    grid.trigger("reloadGrid");
                }).error(function (readyState, responceText) { ShowError(responceText); });
            }
        });
    });

    function ShowError(responceText) {
        alert(responceText);
    }

</script>
