@using MTP1
@model MTP1.Models.EnvironmentFactor

@{
    this.ViewBag.Title = string.Format("Фактор окружения. Удаление | {0}", Constants.TITLE);

}
<fieldset>
    <legend>Фактор окружения. Удаление "@Model.EnvironmentFactorDic.Title"</legend>
    @this.Html.ActionLink("Отменить", "Index")

    <h2 style="color: Red">Вы уверены, что хотите удалить эту запись?</h2>
     @using (this.Html.BeginForm())
    {
        <input type="submit" value="Удалить" />
    }
    <div class="display-label">Use Case</div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.UseCase1.Title)
    </div>
    <div class="display-label">Фактор окружения</div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.EnvironmentFactorDic.Title)
    </div>
    <div class="display-label">Весовой коэффициент</div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.WeightCoefficientDic.Value) (@this.Html.DisplayFor(model => model.WeightCoefficientDic.Title))
    </div>
     <div class="display-label">Сложность</div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.PriorityDic.Title) 
    </div>
</fieldset>