@using MTP1
@model MTP1.Models.EnvironmentFactor

@{
    this.ViewBag.Title = string.Format("Фактор окружения {0} | {1}", this.Model.EnvironmentFactorDic.Title, Constants.TITLE);

}

<fieldset>
    <legend>Фактор окружения "@this.Model.EnvironmentFactorDic.Title"</legend>
    
    <div class="display-label">Use Case</div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.UseCase1.Title)
    </div>
    <div class="display-label">Фактор окружения</div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.EnvironmentFactorDic.Title)
    </div>
    <div class="display-label">Весовой коэффициент</div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.WeightCoefficientDic.Value) (@this.Html.DisplayFor(model => model.WeightCoefficientDic.Title))
    </div>
    <div class="display-label">Сложность</div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.WeightCoefficientDic.Value) (@this.Html.DisplayFor(model => model.WeightCoefficientDic.Title))
    </div>
</fieldset>
<p>
   @this.Html.ActionLink("Факторы окружения", "Index")
</p>