@using MTP1.Service.Factory
@model MTP1.Models.Project
           
@Html.ValidationSummary()
<div class="editor-label">Наименование проекта</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Title)
    @Html.ValidationMessageFor(model => model.Title)
</div>
<div class="editor-label">Версия проекта</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Version)
    @Html.ValidationMessageFor(model => model.Version)
</div>
<div class="editor-label">Описание проекта</div>
<div class="editor-field">
    @Html.TextAreaFor(model => model.Description, new { cols = 70, rows = 5 })
    @Html.ValidationMessageFor(model => model.Description)
</div>
<div class="editor-label">Проект-менеджер</div>
<div class="editor-field">
    @{
        var queryManagers = Users_PMServiceFactory.Create().Get().Select(item => new { item.ID, Name = item.Name }).ToList();
        List<SelectListItem> listManagers = queryManagers.Select(item => new SelectListItem { Text = item.Name.ToString(), Value = item.ID.ToString(), Selected = this.Model != null && this.Model.Manager == item.ID }).ToList();
        @Html.DropDownListFor(model => model.Manager, listManagers, "...")
     } 
</div>
<div class="editor-label">Автор</div>
<div class="editor-field">
    @{
        var queryCreators = Users_PMServiceFactory.Create().Get().Select(item => new { item.ID, Name = item.Name }).ToList();
        List<SelectListItem> listCreators = queryCreators.Select(item => new SelectListItem { Text = item.Name.ToString(), Value = item.ID.ToString(), Selected = this.Model != null && this.Model.Creator == item.ID }).ToList();
        @Html.DropDownListFor(model => model.Creator, listCreators, "...")
    } 
</div>

       

    