@model MTP1.Models.TechnicalFactorDic
@Html.ValidationSummary()
<div class="editor-label">Тип технического Фактора</div>
<div class="editor-field">
    @Html.TextAreaFor(model => model.Title, new { cols = 70, rows = 1 })
    @Html.ValidationMessageFor(model => model.Title)
</div>
<div class="editor-label">Описание</div>
<div class="editor-field">
    @Html.TextAreaFor(model => model.Description, new { cols = 70, rows = 2 })
    @Html.ValidationMessageFor(model => model.Description)
</div>