@using MTP1.Service.Factory
@model MTP1.Models.TestProgram
<div>
</div>
<div class="display-label">Программа тестирования</div>
<div class="editor-field">
    @this.Html.EditorFor(model => model.Title)
</div>

<div class="display-label">Описание</div>
<div class="editor-field">
    @this.Html.TextAreaFor(model => model.Description, new { cols = 70, rows = 5 })
    @this.Html.ValidationMessageFor(model => model.Description)
</div>
<div class="display-label">Проект</div>
<div class="editor-field">
    @{
        var queryProjects = ProjectServiceFactory.Create().Get().Select(item => new { item.ID, Name = item.Title }).ToList();
        List<SelectListItem> listProjects = queryProjects.Select(item => new SelectListItem { Text = item.Name.ToString(), Value = item.ID.ToString(), Selected = this.Model != null && this.Model.Project == item.ID }).ToList();
        @this.Html.DropDownListFor(model => model.Project, listProjects, "...")

    } 
      
</div>

<div class="display-label">Метод тестирования</div>
<div class="editor-field">
    @{
        var queryMethods = TestMethodDicServiceFactory.Create().Get().Select(item => new { item.ID, Name = item.Title }).ToList();
        List<SelectListItem> listMethods = queryMethods.Select(item => new SelectListItem { Text = item.Name.ToString(), Value = item.ID.ToString(), Selected = this.Model != null && this.Model.TestMethod == item.ID }).ToList();
        @this.Html.DropDownListFor(model => model.TestMethod, listMethods, "...")

    } 
      
</div>