@using MTP1
@model MTP1.Models.TechnicalFactor

@{
    this.ViewBag.Title = string.Format("Технический фактор {0} | {1}", this.Model.TechnicalFactorDic.Title, Constants.TITLE);

}

<fieldset>
    <legend>Технический фактор "@this.Model.TechnicalFactorDic.Title"</legend>
    
    <div class="display-label">Use Case</div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.UseCase1.Title)
    </div>
    <div class="display-label">Технический фактор</div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.TechnicalFactorDic.Title)
    </div>
    <div class="display-label">Весовой коэффициент</div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.WeightCoefficientDic.Value) (@this.Html.DisplayFor(model => model.WeightCoefficientDic.Title))
    </div>
    <div class="display-label">Сложность</div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.WeightCoefficientDic.Value) (@this.Html.DisplayFor(model => model.WeightCoefficientDic.Title))
    </div>
</fieldset>
<p>
   @this.Html.ActionLink("Технические факторы", "Index")
</p>