@using MTP1
@using MTP1.Models
@model IEnumerable<TechnicalFactor>
@{
    this.ViewBag.Title = string.Format("Технические факторы | {0}", Constants.TITLE);

}
<link href="@this.Url.Content("~/Content/List.css")" rel="stylesheet" type="text/css" />
<div id="grid_container" style="width: 100%">
    <table id="grid" cellpadding="0" cellspacing="0">
    </table>
    <div id="pager" style="text-align: center;">
    </div>
    <div id="search" style="margin-left: 30%; display: none">
    </div>
</div>
<script type="text/javascript">
    var indexUrl = '@Url.Action("GetTechFacts", "TechnicalFactor")';
    var editUrl = '@Url.Action("Edit", "TechnicalFactor")';
    var deleteUrl = '@Url.Action("Delete", "TechnicalFactor")';
    var addUrl = '@Url.Action("Create", "TechnicalFactor")';
    var viewUrl = '@Url.Action("Details", "TechnicalFactor")';

    $(function () {

        DrawMTPGrid('grid', 'pager', indexUrl, editUrl, deleteUrl, addUrl, viewUrl,
            ['Сценарий тестирования', 'Технический фактор', 'Весовой коэффициент', 'Сложность'],
            [
                {
                    name: 'UseCase',
                    sortable: false,
                    align: 'center',
                    width: '250'
                },
                {
                    name: 'TechnicalFactor',
                    sortable: false,
                    align: 'center',
                    width: '100'
                },
                {
                    name: 'WeightCoefficient',
                    sortable: false,
                    align: 'center',
                    width: '50'
                },
                {
                    name: 'Difficulty',
                    sortable: false,
                    align: 'center',
                    width: '50'
                }
            ]);
    });

</script>
