@using MTP1
@using MTP1.Models
@model IEnumerable<TechnicalFactor>
@{
    this.ViewBag.Title = string.Format("Технические факторы | {0}", Constants.TITLE);

}
<div id="myDiv" style="width: 100%">
    <table id="grid" cellpadding="0" cellspacing="0">
    </table>
    <div id="pager" style="text-align: center;">
    </div>
    <div id="search" style="margin-left: 30%; display: none">
    </div>
</div>
<script type="text/javascript">
    var indexUrl = '@Url.Action("GetTechFactors", "TechnicalFactor")';
    var editUrl = '@Url.Action("Edit", "TechnicalFactor")';
    var deleteUrl = '@Url.Action("Delete", "TechnicalFactor")';
    var addUrl = '@Url.Action("Create", "TechnicalFactor")';
    var viewUrl = '@Url.Action("Details", "TechnicalFactor")';

    $(function () {

        $("#grid").jqGrid({
            colNames: ['Сценарий тестирования','Технический фактор', 'Весовой коэффициент', 'Сложность'],
            colModel: [
                {
                    name: 'UseCase',
                    sortable: false,
                    align: 'center',
                    width: '250'
                },
                {
                    name: 'TechnicalFactor',
                    sortable: false,
                    align: 'center',
                    width: '100'
                },
                {
                    name: 'WeightCoefficient',
                    sortable: false,
                    align: 'left',
                    width: '50'
                },
                {
                    name: 'Difficulty',
                    sortable: false,
                    align: 'left',
                    width: '50'
                }
            ],
            pager: $("#pager"),
            sortname: 'Title',
            sortorder: "",
            rowNum: 10,
            rowList: [10, 20, 50],
            viewrecords: true,
            rownumbers: true,
            shrinkToFit: true,
            width: 1100,
            altRows: true,
            altclass: 'myAltRowClass',
            height: 'auto',
            gridview: true,
            url: indexUrl,
            datatype: 'json',
            mtype: 'GET',
            caption: 'Технические факторы',
            loadError: function (xhr, status, error) {
                alert(error);
            },
            ondblClickRow: function (rowid) {
                window.location = viewUrl + '/' + rowid;
            }
        });

        var grid = jQuery("#grid").jqGrid('navGrid', '#pager', {
            edit: true,
            add: true,
            del: true,
            search: false,
            refresh: true,
            addfunc: function () { window.location = addUrl; },
            editfunc: function (id) {
                window.location = editUrl + '/' + id;
            },
            delfunc: function (id) {
                $.post(deleteUrl + '/' + id, function () {
                    grid.trigger("reloadGrid");
                }).error(function (readyState, responceText) { alert(responceText); });
            }
        });
    });

</script>
