@using MTP1
@model MTP1.Models.PriorityDic

@{
    ViewBag.Title = string.Format("Элемент справочника | {0}", Constants.TITLE);
}

<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Приоритеты", "Index")
</p>
<fieldset>
    <legend>Элемент справочника Приоритеты</legend>

    <div class="display-label">Приоритет</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>
    <div class="display-label">Описание</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
     <div class="display-label">Значение</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Value)
    </div>
</fieldset>
