@using MTP1
@using MTP1.Models
@model IEnumerable<PriorityDic>

@{
    this.ViewBag.Title = string.Format("Элементы справочника | {0}", Constants.TITLE);

}
<h2>Пользователи</h2>

<p>
    @this.Html.ActionLink("Создать", "Create")

</p>
<table>
    <tr>
        <th>
            Приоритеты
        </th>
        <th>
            Описание
        </th>
    </tr>

    @foreach (PriorityDic item in this.Model)
    {
        <tr>
            <td>
                @this.Html.ActionLink(item.Title, "Details", new { id = item.ID })
            </td>
            <td>
                @this.Html.DisplayFor(modelItem => item.Description)
            </td>
        
        
            <td>
                @this.Html.ActionLink("Редактировать", "Edit", new { id = item.ID }) |
                @this.Html.ActionLink("Удалить", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>